{{#if this.showAd}}
<div class="adsterra-banner-ad">
    <div class="adsterra-ad-label">
        <h2>{{i18n "adplugin.advertisement_label"}}</h2>
    </div>
    <div id={{this.divId}} class="adsterra-banner-container" style={{this.adWrapperStyle}}></div>
</div>
{{/if}}